.list_carousel {}
.list_carousel ul {
    margin: 0;
	padding: 0;
	list-style: none;
	display: block;
}
.list_carousel li {
	margin: 1.5em;
    height: 10em;
	display: inline-block;
	float: left;
	padding-right: 10em;

}
.list_carousel.responsive {
	width: auto;
	margin-left: 0;
}